html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


@font-face {
  font-family: "Luxurious Script";
  src: url("/fonts/luxurious/LuxuriousScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Prata";
  src: url("/fonts/prata/Prata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GreatVibes";
  src: url("/fonts/greatvibes/GreatVibes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LibraSerifModern";
  src: url("/fonts/libra/LibraSerifModern-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/quicksand/quicksand.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eyesome";
  src: url("/fonts/eyesome/eyesome.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Slight";
  src: url("/fonts/slight/slight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Opensans";
  src: url("/fonts/opensans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}